<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marlin.magang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:windowSoftInputMode="adjustPan"
        android:name=".FileApp"
        android:allowBackup="true"
        android:icon="@mipmap/unnamed"
        android:label="Magang"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DetailActivity"></activity>
        <activity android:name=".DataActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DataTrayek" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Home"  />
    </application>

</manifest>